.button { background-color: transparent;
    color: black;
   border: 0;
   font-size: 30px;
   box-shadow: none;

}   

.icono {
    text-align: center;
}

.style {
    background-color:transparent;
    border-radius: 50px;
    margin-bottom: 5px;
    justify-content: center;
}
.style2 {
    background-color: transparent;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closebutton {
   justify-content: center;
   font-size: 30px;
}
