/* styles.css o tu archivo de estilos personalizado */

.car-list-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.car-card {
  border: 1px solid #ddd; /* Borde para separar los elementos */
  padding: 10px;
  margin-bottom: 10px; /* Margen inferior para separar los elementos */
}

.car-card img {
  max-width: 100%;
  height: auto;
}

.car-info {
  margin-top: 10px; /* Espacio superior entre la imagen y la información */
}
