/* CarListStyle.css */

.car-list-container {
    max-width: 30%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fffafa;
    border-radius: 5px;
  }
  
  .car-list-container h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .car-card {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .car-card img {
    max-width: 100%;
    height: auto;
  }
  
  .car-info p {
    margin-top: 10px;
    align-items: start;
  }
  
  button {
    background-color: #d9534f;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  button:hover {
    background-color: #c9302c;
  }
  